h2 {
  padding: 7rem 0 1rem;
  font-size: 2.5rem;
}
h3 {
  color: var(--pink);
}
span {
  padding: 9rem 0 2rem;
}
hr {
  /* background-color: var(--pink); */
  background-color: rgba(202, 202, 202, 0.75);
  width: 55px;
  height: 3px;
  margin-bottom: 1rem;
}
.intro {
  margin-top: 110px;
  overflow: hidden;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  background: linear-gradient(
      to right,
      rgba(96, 137, 168, 0.5),
      rgba(139, 174, 201, 0.5)
    ),
    url("../img/intro/img-4.jpg");
  background: radial-gradient(
      circle,
      rgba(9, 105, 153, 0.1) 0%,
      rgba(141, 162, 196, 0.5) 50%,
      /* rgba(58, 58, 58, 0.25) 0%,
      rgba(58, 58, 58, 0.1) 50%, */
        rgba(110, 134, 172, 0.877) 100%
    ),
    url("../img/intro/test.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro h1 {
  color: white;
  text-shadow: 1px 1px 2px black;
}
/* Intro End */
.main {
  padding: 2rem 0 10rem;
}

/* Ponuda */
.ponuda {
  display: flex;
  justify-content: space-between;
}
.ponuda ul {
  list-style: square;
  padding-left: 1.25rem;
}
.ponuda a {
  color: var(--pink);
}
/* Media Queries */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 800px) {
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 19px;
  }
}
